body { background-color: blueviolet;
}
h2 {background-color: azure;} 
p {font-size: larger;}
h2 {font-style: oblique;}
h1 { font-variant: initial;}
p {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}