p {display:inline-block;
}

#title {
    height: 100px;
    width: 2559px;
    background-color: lightgray;
    margin-top:0px;
    margin-left: -7px;
    text-align: center;

}
#devicebar {
    height: 400px;
    width: 2559px;
    background-color: whitesmoke;
    margin-top: 300px;
    margin-left: 300px;
    text-align: center;

}